/*
Primary Color:
7FA917	68812C	527008	B1D850	BCD878

Complementary Color:
8B1361	692451	5C073E	CA4B9D	CA71AB
*/

@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

*,
*:after,
*:before {
	/* box-sizing: border-box; */
	/* margin: 0; */
	padding: 0;
	list-style: none;
	-webkit-tap-highlight-color: transparent;

}

/* html{
	height: 100%;
	background: #84AC1F;
	overflow: hidden;
} */

body {
	background: #32cd32;
	transition: background-color .25s;
	height: 100%;
	position: relative;
	font: 300%/40px 'Permanent Marker', cursive; /*'Permanent Marker'*/
	background: linear-gradient(transparent, rgba(black, .3));
}
	
/* body {
	background:#444;
	font:300%/40px 'Luckiest Guy', cursive;
	color:#000;
} */

#warning {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	background:rgba( 0, 0, 0, 0.8 );	
	text-align:center;
	color:#FFF;
	font:30px/40px 'Luckiest Guy', cursive;
	padding-top:25%;
	z-index:1000;
}

#warning a {
	color:#68812C;
	text-decoration:none;
}

/* (Font) Game Learning English - Word Puzzle  */
#header {
	width:100%;
	top:0;
	left:0;
	position:absolute;	
	font:40px/50px 'Luckiest Guy', cursive;
	color:rgb(0, 0, 0);
	text-align:center;
}

#header p {
	padding:5px 10px;	
	margin:0;
}

#header a {
	text-decoration:none;
	color:#7FA917;
	font-weight:400;
}

/* (font) demo bottom */
#footer {
	font:14px/30px 'Yanone Kaffeesatz', Arial, Serif;
	width:640px;
	margin:15px auto;
	position:relative;
	padding:0;
}

#footer a {
	text-decoration:none;
	color:#FFF;
}

#container {
/* background:url(../img/bg.png) no-repeat top center; */
width:800px;
height:570px;
margin:0px auto 0 auto;
position:relative;
padding:110px 0 0 0;
}

#models {
	margin:0 auto;
	padding:0;
}

#picture{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin: -100px -100px;
	animation: bounce 0.75s 1 linear;
	cursor: pointer;
}

.bouncing{
	animation-fill-mode: both;
	animation-duration: 0.75s;
	animation-name: bounce;
}

@keyframes bounce{

	from, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	}
	0%{
		transform: scale3d(.3, .3, .3)
	}
	20%{
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40%{
		transform: scale3d(.9, .9, .9)
	}
	60%{
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80%{
		transform: scale3d(.97, .97, .97)
	}
	to{
		transform: scale3d(1, 1, 1)
	}
}

#models li, #letters li {
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
	list-style:none;
	padding:0;
	margin:2px;
	width:50px;
	height:50px;
	float:left;
	text-align:center;
}

#letters li {
	background:#FFF;
	background:-moz-linear-gradient( #FFF, #AAA );
	background:-webkit-gradient( linear, left top, left bottom, color-stop( 0, rgb(73, 73, 73) ), color-stop( 1, #AAA ) );
	background:-o-linear-gradient(top, #FFF, #AAA);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF');
	border:1px solid #FFF;
	box-shadow:0px 2px 10px #000; -moz-box-shadow:0px 2px 10px #000; -webkit-box-shadow:0px 2px 10px #000;
	position:absolute;
}

#letters li.draggable {
	cursor:move;
}

#models{
	position: absolute;
	left: 50%;
	bottom: calc(50% - 180px);
	width: 100%;
	text-align: center;
	transform: translate(-50%) !important;
}

#models li {
	border: 1px solid rgba( 0, 0, 0, 0.7 );
	display: inline-block;
	animation: changeopacity 0.75s ease-in-out 0s 1;
}

@keyframes changeopacity {
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

/* turns letters invisible */
/* #models.hard li {
	color:rgba( 0, 0, 0, 0 );
} */

#models li.hover {
	background:#000;
	background:rgba( 0, 0, 0, 0.2 );
	border:1px solid rgba( 0, 0, 0, 0.5 );
}

#next, #previous {
	font-family: 'Permanent Marker', cursive;
	position:absolute;
	text-decoration:none;
	color:#000;
	font-size:100%;
	cursor:pointer;
	outline:0;
	opacity: .5;
	transition: opacity 1s;
	margin-top: 21.5%;
}

#next:hover, #previous:hover {
	opacity: 0.8;
}

#next {
		top:130px;
		right:80px;
}
#previous {
		top:130px;
		left:80px;
}

.line {
	width: 100%;
	height: 1px;
	background-color: black;
	margin: 0 auto;
}

.select-level{
	text-align-last: center;
	/* position: absolute; */
	padding: 28px 0 0 0;
	bottom: 0;
	margin-left: -65px; 
	left: 50%;
	/* display: flex;
	flex-direction: row; */
	/* width: 300px; */
	vertical-align: center;

}

#select-label{
	/* top: -27px; */
	/* margin-right: 300px; */
	/* margin-right: -1000px; 
	left: 50%;
	color:#000;
	font-size:150%; */
	color:rgba( 0, 0, 0, 0.5 ) !important;
	font:300%/40px 'Luckiest Guy', cursive;
	position: absolute; 
	bottom: calc(50% - 30px);
	font-size: 2em;
	bottom: 0;
	/* width: 150px; */
	margin-left: -85px;
	left: 50%;
	text-align: center;

}

select{
	/* margin-left: 100px; */
	cursor:pointer;
	font: 300%/40px 'Luckiest Guy', cursive;
	background-color: rgba(0, 0, 0, 0.0);
	color:rgba(0, 0, 0, 0.5) !important;
	font-size: 150%;
	/* width: 115px; */
	height: 20px; 
	text-align: center;
	text-align-last: center;
	-moz-text-align-last: center;
	position: absolute;
	/* top: 0px; */
	/* right: -30px; */
	/* margin: 0 auto; */
	/* direction: rtl; */

	bottom: 0;
	margin-left: -55px;
	left: 50%;
	text-align: center;
}


/* Background */
.background{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity 1s;
}

.started {
	opacity: 1;
}

.background:before,
.background:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../assets/images/background.svg);
	background-size: 100% 100%;
	animation: spin infinite ease-in-out;
}
    
.background:before{
	animation-duration: 110000ms;
	opacity: 0.10;
}

.background:after{
	animation-duration: 80000ms;
	opacity: 0.20;
}

.spining{
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: spin;
}

@keyframes spin {
	0%{
	transform: rotate(0deg) scale(1)
	}
	25%{
	transform: rotate(90deg) scale(.5)
	}
	50%{
	transform: rotate(180deg) scale(1.2)
	}
	75%{
	transform: rotate(270deg) scale(.5)
	}
	100%{
	transform: rotate(360deg) scale(1)
	}
}
